body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #bc8dd7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-style: italic;
}

/* Profil fotoğrafı stili */
.profile-photo {
    width: 170px;
    height: 200px; 
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge ekler */
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    margin-bottom: 10px;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    margin: 10px 0;
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.contact-link i {
    margin-right: 10px;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #bc8dd7;
    color: #fff;
}